/* Reseteo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables de colores */
:root {
    --primario: #013F4E; 
    --secundario: #00718F; 
    --acento: #0BA5BE; 
    --fondo: rgba(207, 203, 200, 0) 
    --texto: #576319; 
}

/* Configuración global */
html, body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--texto);
    background-color: var(--fondo);
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
body{
    background-image: url('/Transportes_Barahona/public/img/paquete.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

body.mudanzas {
    background-image: url('/Transportes_Barahona/public/img/mudanzas.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

body.paqueteria_frio {
    background-image: url('/Transportes_Barahona/public/img/frio1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body.embalaje {
    background-image: url('/Transportes_Barahona/public/img/embalaje.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body.guardamuebles {
    background-image: url('/Transportes_Barahona/public/img/Guardamuebles.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: var(--primario);
    color: #fff;
}

/* Estilo para el logo */
.logo img {
    max-width: 200px; 
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Estilo para la imagen de los servicios */

header .imagen-central img {
    max-width: 600px; 
    height: auto; 
    display: block; 
    margin: 0 auto;
}

/* Estilo para el botón Área Cliente */
.btn-area-cliente {
    background-color: var(--acento);
    color: white; 
    text-decoration: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    display: inline-block; 
    transition: background-color 0.3s ease;
}
/* Cambiar color al pasar el cursor */
.btn-area-cliente:hover {
    background-color: var(--secundario); 
}

/* Estilo para el enlace "¿Aún no eres cliente?" */
.link-registrar {
    color: white; 
    text-decoration: none; 
    font-size: 14px; 
    margin-top: 10px; 
    display: inline-block; 
}
/* Subrayado al pasar el cursor */
.link-registrar:hover {
    text-decoration: underline; 
    color: var(--acento);
}



/* Menú de navegación */
nav {
    background: var(--secundario);
    color: #fff;
    padding: 10px 20px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

nav ul li a:hover {
    text-decoration: underline;
    color: var(--acento);
}

/* Asegura que el main crezca para ocupar el espacio disponible */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    
}
/*estilo correo electronico configurado en la cuenta, no se puede cambiar */
.campo-container {
    display: flex;
    align-items: center; 
    gap: 10px; 
    margin-bottom: 15px;
}

.campo-label {
    font-weight: bold; 
    color: #013F4E; 
}

.campo-email {
    width: auto; 
    max-width: 300px; 
    padding: 5px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    background-color: #f9f9f9; 
    color: #333; 
    font-size: 14px;
}
.centrado {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    height: 100%; 
}
/* Sección de Servicios */
#servicios {
    padding: 20px;
    text-align: center;
}

.servicios-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px 0;
}

.servicio {
    background: var(--fondo);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: var(--primario);
}

.mensaje-calidad, .disponibilidad {
    margin-top: 10px;
    background: #FFFFFF;
    font-weight: bold; 
    text-align: center; 
    line-height: 1.5; 
    padding: 20px;
    border: 1px solid #013F4E;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 70%;
    margin: 20px auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.mensaje-calidad {
    font-size: 20px; 
    color: var(--secundario); 
}

.disponibilidad {
    background: var(--fondo);
    font-size: 24px; 
    color: red;  
}
.texto-formulario{
    text-align: center; 
    margin-bottom: 20px; 
    font-size: 18px; 
    color: #013F4E; 
    font-weight: 700; 
    font-family: 'Roboto', sans-serif; 
}
/* Botones */
button {
    background-color: var(--acento);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: var(--secundario);
    transform: scale(1.05);
}

/* Contenedor del input */
.input-container {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

/* Estilo del campo de entrada */
input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilo del ícono del ojo */
#togglePassword {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    cursor: pointer;
}
.area-opciones {
    text-align: center;
    margin: 20px;
}

/* Tarjetas */
.card {
    background-color: white;
    border: 1px solid var(--primario);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
}

.card h3 {
    color: var(--primario);
}

.card p {
    color: var(--texto);
}



/* Estilo del footer */
footer {
    background-color: var(--primario);
    color: white;
    text-align: center;
    padding: 10px 0; 
    width: 100%; 
    margin-top: auto;
}

/* Estilos específicos para la página "Quiénes Somos" */
#quienes-somos {
    padding: 20px;
    background-color: rgba(207, 203, 200, 0);
    color: #013F4E; 
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

#quienes-somos h1, #quienes-somos h2 {
    color: #013F4E; 
    text-align: center;
    margin-bottom: 20px;
}

#quienes-somos p {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 20px;
}

#quienes-somos .vision-mision-valores {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin: 20px 0;
}

#quienes-somos .vision-mision-valores div {
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #013F4E;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Pie de página para "Quiénes Somos" */
#quienes-somos footer {
    background-color: #576319;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
/* mensaje de alerta inicialmente oculto */
.alerta {
    display: none; 
    padding: 10px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 5px;
    background-color: #d4edda; 
    color: #155724;
    border: 1px solid #c3e6cb;
    text-align: center;
}
.alerta.show {
    display: flex;
    opacity: 1;
}
.alerta.error {
    background-color: #f8d7da; 
    color: #721c24; 
    border: 1px solid #f5c6cb;
}

/* Estilos para la tabla */
.tabla-solicitudes {
    width: 100%;
    max-width: 800px;
    margin: 30px auto;
    border-collapse: collapse;
    background-color: #FFFFFF;
    color: var(--texto);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--primario);
    border-radius: 10px;
    overflow: hidden;
}

/* Encabezado de la tabla */
.tabla-solicitudes thead tr {
    background-color: var(--primario);
    color: white;
    text-align: left;
    font-weight: bold;
}

.tabla-solicitudes thead th {
    padding: 12px 15px;
    text-align: center;
}

/* Filas de la tabla */
.tabla-solicitudes tbody tr {
    border-bottom: 1px solid var(--primario);
    transition: background-color 0.3s ease;
}

.tabla-solicitudes tbody tr:hover {
    background-color: var(--secundario);
    color: white;
}

/* Celdas de la tabla */
.tabla-solicitudes td {
    padding: 10px;
    text-align: center;
}


/* Estilo para "No cancelable" */
.no-cancelable {
    color: #ff4d4d;
    font-size: 14px;
    font-weight: bold;
}
.politica-cancelacion p {
    margin-top: 20px;
    background: #FFFFFF;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: var(--primario);
    line-height: 1.5; 
    border: 1px solid #013F4E;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 20px auto;
}
/* Elimina la línea azul */
a {
    text-decoration: none; 
    color: var(--secundario)
}
/* Puedes cambiar el color al pasar el ratón */
a:hover {
    color: #007bff; 
    text-decoration: underline;
}
